@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import "../components/backgroundSwitcher/bgLoader";
@import "../components/backgroundSwitcher/bgButton";
@import "../components/langSelect/langSelect";
@import "../components/temperatureSwitcher/temperatureSwitcher";
@import "../components/search/search";

body {
  background: linear-gradient(rgba(8, 15, 26, 0.59) 0%, rgba(17, 17, 46, 0.46) 100%) center / cover fixed,
  url("../../src/assets/img/bg 3.png") center / cover fixed,
  black;
  color: white;
  padding: 40px 90px;
  font-family:  'Montserrat', sans-serif;
  font-weight: bold;
}


header {
  display: flex;
  justify-content: space-between;
}

.switchers {
  display: flex;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
}

main {
  margin-top: 57px;
}

.city {
  margin: 5px 0;
  font-size: 44px;
  text-transform: uppercase;
}

.date-time {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}

.current-weather {
  //width: 597px;
  display: flex;
}

.current-temperature {
  font-size: 306px;
  position: relative;
}

.o-sign {
  position: absolute;
  top:50px;
  right: -30px;
  font-size: 100px;
}

.overview {
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.weather-info {
  width: 175px;
  align-self: flex-end;
}

.weather-pic {
  flex-grow: 0;
}

.forecast {
  display: flex;
}

.forecast-days {
  h3 {
    font-size: 22px;
    text-transform: uppercase;
  }

  &:nth-child(2) {
    margin: 0 51px;
  }
}

.forecast-info {
  display: flex;
  align-items: flex-start;
}

.forecast-temperature {
  font-size: 80px;
  font-weight: 600;
}

.forecast-pic {
  margin-left: 10px;
}

.map {
  align-self: flex-end;
}
