@import "../../../sass/variables";

#map,
.map-overlay {
  width: 400px;
  height: 400px;

  @media (max-width: $wide-screen) {
    width: 600px;
    height: 400px;
  }

  @media (max-width: $tablet) {
    width: 330px;
    height: 275px;
  }

  @media (max-width: $phone) {
    width: 275px;
    height: 275px;
  }

  @media (max-width: $min-res) {
    width: 275px;
    height: 275px;
  }
}

.map-overlay {
  border-radius: 20px;
  overflow: hidden;
}
