.theme-switcher {
  display: flex;
  background-image: url("../../../assets/img/refresh.png");
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
}

.button {
  cursor: pointer;
  position: relative;
  background-color: rgba(22, 160, 133, 0);
  border: none;
  transition-duration: 0.4s;
  overflow: hidden;
  //box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
}

.button:hover {
  background: #fff;
  box-shadow: 0 2px 10px 5px rgba(26, 188, 156, 0.51);
  color: #000;
}

.button:after {
  content: "";
  background: rgba(26, 188, 156, 0.5);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button:focus { outline:0; }
