@import "../../../sass/variables";

//** variables
$text: #9c9c9c;
$input-bg-color: rgba(76, 82, 85, 0.4);
$input-text-color: #fff;
$button-bg-color: rgba(174, 181, 185, 0.7);
$button-text-color: #fff;

//** root
:root {
	color: $text;
}


.search-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 10px;

	@media (max-width: $tablet) {
		margin-top: 25px;
	}
}

.uppercase {
	text-transform: uppercase;
}

//** button
.btn {
	position: absolute;
	top: 6px;
	right: 5px;
	display: inline-block;
	background: transparent;
	color: inherit;
	font: inherit;
	font-size: 14px;
	border: 0;
	outline: 0;
	padding: 0;
	transition: all 200ms ease-in;
	cursor: pointer;

	&--primary {
		background: $button-bg-color;
		color: $button-text-color;
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
		border-radius: 2px;
		padding: 0 20px;
		height: 32px;

		&:hover {
			background: darken($button-bg-color, 6%);
		}

		&:active {
			background: $button-bg-color;
			box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
		}
	}

	&--inside {
		//margin-left: -62px;
	}
}

//** form
.form {
	position: relative;

	&__field {
		width: 340px;
		height: 44px;
		background: $input-bg-color;
		color: $input-text-color;
		font: inherit;
		font-size: 18px;
		font-weight: 600;
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
		border: 0;
		outline: 0;
		padding: 0 80px 0 18px;
		margin-right: 35px;

		@media (max-width: $tablet) {
			width: 280px;
		}

		@media (max-width: $phone) {
			width: 230px;
		}

		&::placeholder {
			color: #a4a3ac;
			font-weight: normal;
			font-size: 14px;
		}

	}
}
